@font-face {
  font-family: 'iconfont';  /* project id 1311289 */
  src: url('//at.alicdn.com/t/font_1311289_ce50femlywd.eot');
  src: url('//at.alicdn.com/t/font_1311289_ce50femlywd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1311289_ce50femlywd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1311289_ce50femlywd.woff') format('woff'),
  url('//at.alicdn.com/t/font_1311289_ce50femlywd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1311289_ce50femlywd.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-redo::before {
  content: "\e69f";
}

.icon-undo::before {
  content: "\e7b2";
}
